# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\st\Desktop\REST-APIs\Ex_Files_API_Testing_Validation\Exercise Files\01_03\End\api-validation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
